@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Utilities */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.hero .btn-white:hover {
  background-color: #8ea1e1;
  color: #fff;
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-black:hover {
  background-color: #fff;
  color: #8ea1e1;
}

.btn-blu {
  background-color: #8ea1e1;
  color: #fff;
}

.btn-blu:hover {
  background-color: #000;
  color: #8ea1e1;
}

.white-txt {
  color: #fff;
}

.float-left {
  float: left;
}

/* header */

.nav-container {
  position: relative;
  height: 100%;
  vertical-align: middle;
}

.navbar {
  background-color: #3161e0;
  text-align: center;
  /* height: 10vh; */
}

.navbar li {
  display: inline-block;
  vertical-align: middle;
}

.navbar li a {
  display: block;
  /* padding: 20px;
  margin: 10px 10px; */
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}

.menu {
  display: inline-block;
  width: 60%;
  height: 100%;
}

.menu li a {
  padding: 20px;
}

.menu li:hover a {
  text-decoration: underline;
}

.access {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}

.access li:hover a {
  color: #8ea1e1;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

/* main */

.hero {
  background-image: url(./../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 40vh; */
}

.hero .container {
  text-align: center;
  padding: 50px 200px;
}

.title {
  font-size: 3em;
  padding-bottom: 50px;
}

.hero-txt {
  font-size: 1.2em;
  line-height: 1.5em;
}

.action {
  padding: 30px;
}

.action .btn {
  margin-right: 20px;
}

/* Section float*/

section {
  padding: 100px 0px;
}

.section-img {
  display: inline-block;
  width: 60%;
}

.text {
  display: inline-block;
  width: calc(40% - 100px);
  margin-left: 100px;
  padding: 30px 0;
}

.section-title {
  font-size: 3em;
  line-height: 1.2em;
}

.section-p {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 20px 0;
}

.bg-gray {
  background-color: #f6f6f6;
}

/* section Full */

.full-section {
  text-align: center;
  /* height: 100vh; */
}

.full-section img {
  padding: 0 30px;
}

.full-section h3 {
  background-image: url(./../img/stars.svg);
  background-size: cover;
  width: 40%;
  margin: 0 auto 20px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.full-section .btn {
  margin: 20px;
}
